:host{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    height: 100%;
    width: 90%;
}

.register-form{
    width: 600px;
    border: 1px solid white;

    // mat-card{
    //     mat-card-header{
    //         display: flex;
    //         justify-content: center;

    //         mat-card-tile{
    //             font-size: 2rem;
    //             color: $dark-accent-A200;
    //         }
    //     }
    //     mat-grid-tile{
    //         mat-form-field{
    //             width: 100%;
    //         }
    //     }
    // }
}

.library-info{
    width: 400px;
    padding: 1rem;
    border: 1px solid white;
    
    mat-list-item{
       height: auto; 

       p{
        white-space: normal;
        font-size: 1.2rem;
        font-style: italic;
        text-align: justify;
       }
    }
}